@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../../node_modules/flowbite";

@theme {

    /* Breakpoints */
    --breakpoint-*: initial;
    --breakpoint-xs: 320px;
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    
    /* Colors */
    
    --color-apple-50: #eeffef;
    --color-apple-100: #d7ffdb;
    --color-apple-200: #b2ffb9;
    --color-apple-300: #76ff84;
    --color-apple-400: #33f548;
    --color-apple-500: #09de20;
    --color-apple-600: #00aa13;
    --color-apple-700: #049115;
    --color-apple-800: #0a7117;
    --color-apple-900: #0a5d16;
    --color-apple-950: #003408;
    
    /* Font */
    --font-display: "Manrope", sans-serif; 
    --font-head: "Clash Display", sans-serif;
}
